*~
*#
*/project/build/target
*/*/project/boot/
lib_managed
etags
TAGS
reports
dist
build
target
war
deploy/*.jar
data
out
logs
storage
_dump
.manager
manifest.mf
semantic.cache
tm*.log
tm*.lck
tm.out
*.tm.epoch
.DS_Store
*.iws
*.ipr
*.iml
*.aux
*.lof
*.log
*.lot
*.out
*.rel
*.toc
*.synctex.gz
.project
.settings
.classpath
.idea
.scala_dependencies
.DS_Store
*.class
src/main/webapp/app
src/main/webapp/WEB-INF/deploy/app/
src/main/webapp/WEB-INF/lib/*.jar
Thumbs.db

## python generated
*.pyc
*.pio

# zip files
*.zip

## django-jenkins output
wsgi/src/reports/
reports
src/django-jenkins

## generic files
*~
*.lock
*.DS_Store
*.swp
*.out
sqlite3.db
src/main/webapp/WEB-INF/lib-python/site-packages-path.txt

## emacs autosave files
\#*#
.\#*
certificates
