
<div class="page-views-summary" style="width: 800px; margin: auto;">

  <div class="page-views-summary module" style="width: 800px; margin: 40px auto;">
    <table style="width: 800px; margin: 0 auto; ">

      <caption><a href="#" class="section">Page View Live Summary</a></caption>
      
      <tr>
	<th scope="row"></th>
	<th>Unique Visitors</th>
	<th>Avg Page Views Per Visitor</th>
	<th>Total Page Views</th>
	<th>Avg Visit Duration (Seconds)</th>
      </tr>

      <tr class="this-hour">
	<th scope="row">This Hour</th>
	<td></td>
	<td></td>
	<td></td>  
	<td></td> 
      </tr>  
      
      <tr class="this-day">
	<th scope="row">Today</th>
	<td></td>
	<td></td>
	<td></td>
	<td></td>  
      </tr>

      <tr class="this-week">     
	<th scope="row">This Week</th>
	<td></td>
	<td></td>
	<td></td>
	<td></td>   
      </tr>
      
      <tr class="this-month">     
	<th scope="row">This Month</th>
	<td></td>
	<td></td>
	<td></td>  
	<td></td> 
      </tr>

    </table>
  </div>
  
  <div id="PAGEVIEW_STATS">
    <div class="viz-panel VISITORS" style="width: 800px; float: left;" id="__vzBox1">
      <h6 class="viz-box-title" style="margin: 0; width: 800px;">
	Visitors&nbsp;&nbsp;<a href="#" style="display: none; float: right; margin: 0 5px;" class="download">download</a></h6>
      <div class="graph-wrapper activeClientsPercentPerTypology" style="width: 800px; height: 220px;  float: left;">&nbsp;</div>
    </div>						

    <div class="viz-panel AVG-DURATIONS" style="width: 800px; float: left;" id="__vzBox2">
      <h6 class="viz-box-title" style="margin: 0; width: 800px">Average Page Views per Visitor&nbsp;</h6>
      <div class="graph-wrapper no-used" style="width: 800px; height: 220px; float: left;">&nbsp;</div>
    </div>	

    <div class="viz-panel AVG-PAGEVIEWS" style="width: 800px; float: left;" id="__vzBox3">
      <h6 class="viz-box-title" style="margin: 0; width: 800px">Average Visit Duration</h6>
      <div class="graph-wrapper newClientsRateVsChurnRate" style="width: 800px; height: 220px; float: left;">&nbsp;</div>
    </div>		
  </div>

    <ul class="data-frequency" style="display: none;">
      <li class="selected"><a href="#/switch/?frequency=minutely">Minutely</a></li>
      <li><a href="#/switch/?frequency=hourly">Hourly</a></li>
      <li><a href="#/switch/?frequency=daily">Daily</a></li>
    </ul>

</div>	



