<div  class="page-views-summary" style="width: 800px; margin: auto;">

  <div id="ENTRY-EXIT_STATS">
    <div class="viz-panel TOP-ENTRY-PAGES" style="width: 800px; float: left;" id="__vzBox1">
      <h6 class="viz-box-title" style="margin: 0; width: 800px;">Top Entry Pages (% of Entry Pages)</h6>
      <div class="graph-wrapper activeClientsPercentPerTypology" style="width: 800px; height: 220px;  float: left;">&nbsp;</div>
    </div>						

    <div class="viz-panel TOP-EXIT-PAGES" style="width: 800px; float: left;" id="__vzBox2">
      <h6 class="viz-box-title" style="margin: 0; width: 800px">Top Exit Pages (% of Exit Pages)&nbsp;</h6>
      <div class="graph-wrapper no-used" style="width: 800px; height: 220px; float: left;">&nbsp;</div>
    </div>	
		
  </div>

  <ul class="data-frequency" style="display: none;">
    <li class="selected"><a href="#/switch/?frequency=hourly">Hourly</a></li>
    <li><a href="#/switch/?frequency=daily">Daily</a></li>
  </ul>

</div>	
