
<div  class="page-views-summary" style="width: 800px; margin: auto;">


  <div id="GEOLOCATION_STATS-A">
    <div class="viz-panel TOP-VISITOR-COUNTRIES" style="width: 800px; float: left;" id="__vzBox1">
      <h6 class="viz-box-title" style="margin: 0; width: 800px;">Top Countries - Unique Visitors&nbsp;</h6>
      <div class="graph-wrapper activeClientsPercentPerTypology" style="width: 800px; height: 220px;  float: left;">&nbsp;</div>
    </div>
  </div>						

  <div id="GEOLOCATION_STATS-B">
    <div class="viz-panel TOP-VISITOR-CITIES" style="width: 800px; float: left;" id="__vzBox2">
      <h6 class="viz-box-title" style="margin: 0; width: 800px">Top Cities - Unique Visitors&nbsp;</h6>
      <div class="graph-wrapper no-used" style="width: 800px; height: 220px; float: left;">&nbsp;</div>
    </div>
  </div>

  <ul class="data-frequency" style="display: none;">
    <li class="selected"><a href="#/switch/?frequency=hourly">Hourly</a></li>
    <li><a href="#/switch/?frequency=daily">Daily</a></li>
  </ul>

</div>	
