{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Log in | WebAnalytics</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<style ty="text/css">
form input[type=text],  form input[type=password]{width: 150px;}
form label {width: 150px;}
</style>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="login">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">{% trans "WebAnalytics Login" %}</h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

        

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">
<form action="/accounts/login/" method="post" id="login-form"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='59c8280320a4460fd47ef6983d94368e' /></div>
 {% csrf_token %} {{ form.as_p }}  
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
